[Unit]
Description=Clash daemon for %i
After=network.target

[Service]
Type=simple
User=root
# %i 会被替换为 @ 符号后的实例名 (例如 "config1")
ExecStart=/home/qiangxu/Projects/clash-9q/bin/clash-linux-amd64 -d /home/qiangxu/Projects/clash-9q/config/ -ext-ui /home/qiangxu/Projects/clash-9q/ui/ -f /home/qiangxu/Projects/clash-9q/config/%i.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target
